<h2 class="text-center">About</h2>

<div class="container">
    <div class="well">
        <div class="text-center">
            JustMonitor.com calculates your car's gas mileage and helps to manage the vehicle's costs.
            After a free registration, you will be able to use all functions,
            e.g. include an icon in bulletin boards, analyse costs or enter fuelings.
        </div>
    </div>
</div>
