@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">About us</h2>

<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well">
            <p>
                JustMonitor.com calculates your car's gas mileage and helps to manage the vehicle's costs.
            </p>
            <p>
                After a <a asp-area="identity" asp-page="/account/register" class="text-success">free registration</a>, you will be able to use all functions,
                e.g. include an icon in bulletin boards, analyse costs or enter fuelings.
            </p>
            <p>
                JustMonitor.com helps you to calculate and track your fuel economy and vehicle-related costs.
            </p>
            <p>
                JustMonitor.com contains real-world MPG data of thousands of vehicles.
            </p>
            <p>
                For more information read our <a asp-action="privacy">Privacy policy</a>.
            </p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

