@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>
<hr />
<address>
    <strong>Support:</strong> <a href="mailto:mihail.sotiroff@gmail.com">mihail.sotiroff@gmail.com</a><br />
</address>
